.about{
    width: 100%;
}

.about_top{
    width: 100%;
    height: 600px;
    background: url("../../img/preview.png") no-repeat;
    background-size: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_top_text{
    font-size: 64px;
    font-weight: 900;
    font-style: italic;
}

.about_make{
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.about_make_left{
    display: flex;
    width: 50%;
    height: 400px;
    flex-direction: column;
    text-align: start;
}

.about_make_left_title{
    font-size: 26px;
    font-weight: 700;
}

.about_make_left_text{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 400;
    width: 90%;
}

.about_make_left_button{
    margin-top: 50px;
    width: 300px;
    height: 150px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    background: #2B4CF9A6;
}

.about_make_left_button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #2B4CF9A6;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.about_make_left_button:hover {
    color: #fff;
}
.about_make_left_button:hover:after {
    left: 0;
    width: 100%;
}
.about_make_left_button:active {
    top: 2px;
}

.about_make_left_button a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.about_make_right{
    width: 50%;
    height: 430px;
    background: url("../../img/make.jpg") no-repeat;
    background-size: 100%;
}

.about_why{
    width: 100%;
    margin-top:100px;
}

.about_why_title{
    font-size: 32px;
    font-weight: 700;
}

.about_why_list{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.about_why_list_el{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
}

.about_why_list_el_icon{
    user-select: none;
    width: 50px;
}

.about_why_list_el_text{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.about_why_images{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about_why_images div{
    background: #184BFF;
    width: 32%;
    position: relative;
    height: 240px;
}

.about_why_images div:first-child{
    background: url("../../img/why1.jpg") no-repeat;
    background-size: 100%;
}

.about_why_images div:nth-child(2){
    background: url("../../img/why2.jpg") no-repeat;
    background-size: 100%;
}

.about_why_images div:last-child{
    background: url("../../img/why3.jpg") no-repeat;
    background-size: 100%;
}

.about_what{
    margin-top:100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.about_what_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 70px 60px 70px;
    width:45%;
    height: 100%;
    border: 5px solid #5D6AFB;
}

.about_what_form_title{
    text-align: left;
    width: 100%;
    margin-bottom: 40px;
}
.about_what_form_title h1{
    font-size: 23px;
    font-weight: 700;
    width: 100%;
}

.about_what_form_input{
    width: 100%;
    height: 85px;
    background: #282A2C;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.about_what_form_input input{
    background: inherit;
    outline: none;
    border: none;
    width: 80%;
    margin-left: 10px;
}

.about_what_form_input input::placeholder{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.about_what_form_input input:focus::placeholder{
    color: transparent;
}

.about_what_form_input:nth-child(3) input::placeholder{
    text-align: center;
}

.about_what_form button{
    width: 100%;
    height: 85px;
    background: #2B4CF9;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 800;
}

.about_what_form_checkbox{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 10px;
    font-size: 11px;
    font-weight: 400;
}
.about_what_form_checkbox span{
    margin-left: 10px;
}

.about_what_desc{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.about_what_desc_label{
    padding-left: 10px;
    font-size: 12px;
    font-weight: 400;
}
.about_what_desc_title{
    text-align: left;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700;
}

.about_what_desc_text{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.about_what_desc_tariffs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about_what_desc_tariffs li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-top: 80px;

}

.about_what_desc_tariffs li img{
    width: 20px;
    user-select: none;

}

.about_what_desc_tariffs li span{
    text-align: left;
    margin-top: 10px;

}

.about_team{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 18px;
    font-weight: 700;
}

.about_team h1{
    font-size: 32px;
}

.about_team table{
    border-spacing: 0 30px;
}